{% extends 'base.html.twig' %}

{% block body %}
    <h1>Link followings statistics for {{ shortLink }}</h1>
    <a href="{{ path('link_index') }}" class="btn btn-link">Go to Links table</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User IP</th>
                <th scope="col">User Agent</th>
                <th scope="col">Followings count</th>
            </tr>
        </thead>
        <tbody>
            {% for followingsLogItem in followingsLog %}
                <tr>
                    <td>{{ followingsLogItem.ip }}</td>
                    <td>{{ followingsLogItem.browser }}</td>
                    <td>{{ followingsLogItem.followingsCount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('link_index') }}" class="btn btn-link">Go to Links table</a>
{% endblock %}